:root{
    font-family: 'Sono', sans-serif;
}

.selected{
    background: linear-gradient(0deg, rgba(240,201,41,0.8127626050420168) 0%, rgba(255,85,0,0.7511379551820728) 100%);
}

.main{
    display: flex;
}