.footer{
    width: 100vw;
    text-align: center;
    color: white;
    background-color: orange;
    position: fixed;
    bottom: 0;
    padding: 10px 0 10px 0;
    &__text{
        font-size: 13px;  
        font-weight: 500;
    }
}