.section__characters{
    margin-top: 20px;
    width: 100vw;
    order: 2;
    &--title{
        font-weight: 500;
        font-size: 18px;
        color: orange;
        text-align: center;
    }
    &--list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin: 20px 170px 20px 170px;
        grid-gap: 20px;
    }
}

.characters{
    padding: 10px 20px 10px 20px;
    box-shadow: 0 0 10px #888888;
    &__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &--img{
            height: 330px;
            width: 250px;
            margin-bottom: 10px;
        }
        &--name{
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        &--text{
            font-size: 12px;
            margin-bottom: 15px;
        }
    }
}
